<div class="add-inv-view">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <% if (errors) { %>
            <ul class="error-list">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <p>Confirm Deletion - The delete is permanent and cannot be undone.</p>

                <form action="/inv/delete" method="post">

                    <label for="inv_make">Make</label>
                    <input type="text" name="inv_make" id="inv_make" readonly value="<%= inv_make %>">

                    <label for="inv_model">Model</label>
                    <input type="text" name="inv_model" id="inv_model" readonly value="<%= inv_model %>">

                    <label for="inv_year">Year</label>
                    <input type="number" name="inv_year" id="inv_year" readonly value="<%= inv_year %>">

                    <label for="inv_price">Price</label>
                    <input type="number" name="inv_price" id="inv_price" readonly value="<%= inv_price %>">

                    <!-- Required hidden primary key -->
                    <input type="hidden" name="inv_id" value="<%= inv_id %>">

                    <button type="submit">Delete</button>

                </form>
</div>