<div class="add-inv-view">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <% if (errors) { %>
            <ul class="error-list">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <form action="/inv/update" method="post">
                    <!-- REQUIRED: so update knows which record to update -->
                    <input type="hidden" name="inv_id" value="<%= inv_id %>">

                    <label>Classification</label>
                    <%- classificationSelect %>

                        <label for="inv_make">Make</label>
                        <input type="text" name="inv_make" id="inv_make" required
                            value="<%= locals.inv_make || inv_make %>">

                        <label for="inv_model">Model</label>
                        <input type="text" name="inv_model" id="inv_model" required
                            value="<%= locals.inv_model || inv_model %>">

                        <label for="inv_year">Year</label>
                        <input type="number" name="inv_year" id="inv_year" required
                            value="<%= locals.inv_year || inv_year %>">

                        <label for="inv_description">Description</label>
                        <textarea name="inv_description" id="inv_description"
                            required><%= locals.inv_description || inv_description %></textarea>

                        <label for="inv_image">Image Path</label>
                        <input type="text" name="inv_image" id="inv_image" required
                            value="<%= locals.inv_image || inv_image %>">

                        <label for="inv_thumbnail">Thumbnail Path</label>
                        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required
                            value="<%= locals.inv_thumbnail || inv_thumbnail %>">

                        <label for="inv_price">Price</label>
                        <input type="number" name="inv_price" id="inv_price" required
                            value="<%= locals.inv_price || inv_price %>">

                        <label for="inv_miles">Miles</label>
                        <input type="number" name="inv_miles" id="inv_miles" required
                            value="<%= locals.inv_miles || inv_miles %>">

                        <label for="inv_color">Color</label>
                        <input type="text" name="inv_color" id="inv_color" required
                            value="<%= locals.inv_color || inv_color %>">

                        <button type="submit">Update Vehicle</button>
                </form>
</div>